<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h2>

		My Company Home Page
	</h2>
	<hr>
	<h2>
		welcome Ishwar !!!
	</h2>
	<hr>
	
	<p>
		User : <span sec:authentication="principal.username"></span> <br>
		Roles : <span sec:authentication="principal.authorities"></span>
		
		</p>
		<hr>
		<p sec:authorize="hasRole('DEVELOPER')"> <a th:href="@{/leader}"> LeaderShip Meeting</a>(only for Manager peep)</p>
		<p sec:authorize="hasRole('MANAGER')"> <a th:href="@{/system}"> IT System Meeting</a>(only for Admin Peep)</p>
	
	<form action="#" th:action="@{logout}" method="POST"> <input type="submit" value="logout"/></form>
</body>

</html>