<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employee Form</title>
</head>

<body>

    <h2>Employee Directory</h2>
    <hr>

    <form th:action="@{/save}"
          th:object="${employee}"
          method="POST">

        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{firstName}" placeholder="First Name" />
        <br><br>

        <input type="text" th:field="*{lastName}" placeholder="Last Name" />
        <br><br>

        <input type="text" th:field="*{email}" placeholder="Email" />
        <br><br>

        <input type="text" th:field="*{salary}" placeholder="Salary" />
        <br><br>

        <button type="submit">Save</button>
    </form>

    <br>

    <a th:href="@{/employees/list}">Back to List</a>

</body>
</html>