<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employee Directory</title>
</head>

<body>

    <h3>Employee Directory</h3>
    <hr>

    <a th:href="@{/showFormForAdd}" border="1">Add Employee</a>
	<hr>
	<hr>

    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Action</th>
            <th>Action</th>
        </tr>

        <tr th:each="temp : ${employee}">
            <td th:text="${temp.firstName}"></td>
            <td th:text="${temp.lastName}"></td>
            <td th:text="${temp.email}"></td>
            <td th:text="${temp.salary}"></td>
			<td> <a th:href="@{/updateEmployee(employeeId=${temp.id})}">Update</a></td>
			<td> <a th:href="@{/deleteEmployee(employeeId=${temp.id})}">Delete</a></td>
			
        </tr>
    </table>

</body>
</html>